@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext");

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(234, 237, 239);  
}

* {
    padding: 0;
    margin: 0;
}

.header {
    position: sticky;
    top: 0;
}

.logo {
    width: 100px;
    height: 50px;
    padding-left: 5%;
    margin-top: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    font-weight: bold;
    font-size: 12px;
}

nav ul li {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-left: 5%;
    color:black;
    align-items: center;
    text-decoration: none;
    position: sticky;
    top: 0;
}

nav ul a {
    color: black;
    text-decoration: none; 
}

.download {
    color: rgb(246, 68, 68);
    font-size: 12px;
    font-weight: bold;
    border: 2px solid rgb(246, 68, 68);
    border-radius: 15px;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greenDiamond {
    width: 1%;
    height: 1%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between; 
    float: left;
}

.yellowCircle {
    width: 2%;
    height: 2%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    float: right;
}

h1 {
    margin-top: 3%;
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 15px;
    text-align: center;
    padding: 0 30%;
    display: flex;
    justify-content: center;
}

.redButton {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.downloadRed1 {
    margin-top: 2%;
    background-color: rgb(246, 68, 68);
    color: rgb(243, 240, 240);
    font-size: 10px;
    font-weight: bold;
    border-radius: 15px;
    padding: 8px 11px;
    flex-wrap: wrap;
}

.downloadRed2 {
    margin-top: 2%;
    background-color: rgb(246, 68, 68);
    color: rgb(243, 240, 240);
    font-size: 10px;
    font-weight: bold;
    border-radius: 15px;
    padding: 8px 11px;
    flex-wrap: wrap;
}

.whiteCircle {
    width: 15%;
    height: 15%;
    display: flex;
    margin-left: 2%;
}

.blueCircle {
    width: 10%;
    height: 10%;
    display: flex;
    margin-left: 5%;
}

.mobile {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.mobile1 {
    width: 50%;
    height: 50%;
    margin-top: 0;
}

.circleButtons {
    margin-top: 3%;
    margin-left: 8%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    gap: 60px;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.container {
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 5px;
}

.image1SectionDescription {
    width: 80%;
    margin-left: 10%;
    justify-self: start; 
}

.text1SectionDescription {
    width: 100%;
    font-size: calc(1em * 1.5);
    justify-self: start;
}

.lightbox {
    background-color: rgb(246, 68, 68);
    color: rgb(243, 240, 240);
    border-radius: 15px;
    padding: 8px 11px;
    font-weight: bold;
    font-size: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
}


